<div class="mb-3">
  <%= @form.label @field, class: 'form-label' %>
  <%= @form.text_area @field, class: 'form-control' %>
  <% if has_error? %>
  <div class='text-danger'><%= error_text %></div>
  <% end %>
</div>